{# src/Ficep/PlanningBundle/index.html.twig #}

<!DOCTYPE html>

<html>
	<head>
		<title>Affichage planning</title>
	</head>
	<body>
		<div align="middle">
			<table cellspacing="2px;" cellpadding="2px;" style="border: solid 1px black;" width="60%" rules="all">
				<caption>Week number {{ week }} {{ year }}</caption>
				<tr>
					<td align="middle" width="20%">Technician's Name</td>
					{% for day in date %}
					<td align="middle" width="16%">{{ day|date('d/m/y') }}</td>
					{% endfor %}
				</tr>
				<tr>
					<td align="middle" width="20%">Technician's Name</td>
					<td align="middle" width="16%">t</td>
					<td align="middle" width="16%">t</td>
					<td align="middle" width="16%">t</td>
					<td align="middle" width="16%">t</td>
					<td align="middle" width="16%">t</td>
				</tr>
				<tr>
					<td align="middle" width="20%">Technician's Name 2</td>
					<td colspan="3" align="middle">1201 CRAI</td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</body>
</html>