{# src/Ficep/PlanningBundle/Resources/views/add.html.twig #}

<!DOCTYPE html>

<head>
	<title>Création client</title>
</head>
<body>
	
	{% if app.session.flashbag.has('notice') %}
		{{ app.session.flashbag.get('notice')[0] }}
	{% endif %}
	<h3>Création client</h3>

	<div class="well">
	  {{ form(form) }}
	</div>
</body>