{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<title>{% block title %}OC Plateforme{% endblock %}</title>
		{% block stylesheets %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstap/3.2.0/bootstrap.min.css" />
		{% endblock %}
	</head>
	<body>
		
	</body>
</html>
