{# src/OC/PlatformBundle/Resources/views/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>Affichagede l annonce {{ id }}</title>
	</head>
	<body>
		<h1>Hello annonce n°{{ id }} !</h1>
	</body>
</html>